POSTGRES_DB=fraud_detection
POSTGRES_USER=fraud_user
POSTGRES_PASSWORD=fraud_password
POSTGRES_PORT=5432
POSTGRES_HOST=db_scoring_model_result

KAFKA_BROKER=kafka:9092
KAFKA_SCORING_TOPIC=scoring
KAFKA_TRANSACTIONS_TOPIC=transactions
KAFKA_GROUP_ID=ml-scorer
